<h1>Movies</h1>

<ul>
    {{#each movies}}
        <li> {{title}}, {{length}} min,
        {{#if adult}}
            for adults.
        {{else}}
            for all audiences.
        {{/if}}
        </li>
    {{/each}}
</ul>

<form action="/movies/add" method="post">
    Movie: <input type="text" name="title">
    Length: <input type="number" name="length">
    Adult: <input type="checkbox" name="adult" value="true"><br> For everyone: <input type="checkbox" name="adult" value="false"><br>
    <button>Add your movie</button>
</form>
